body,html{
	margin: 0;

}
img{
	width: 100%;
	height: 100%;
	margin: 0;
}
/* The navbar */
.topnav {
	margin: 0;
  overflow: hidden;
  background-color: dodgerblue;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
section#About article{
	border: solid;
	border-radius: 1px;
	border-color: lightgray;
	padding: 10px 10px 10px 10px;
	
}
.ol{
	font-size: 22px;
	color: ;
}
section#About{
	padding: 10px;
	border-bottom: solid;
	border-color: lightgray;
	border-radius: 1px;
}
section#About aside{
	border: solid;
	border-radius: 1px;
	border-color: lightgray;
	padding: 10px 10px 10px 10px;
}
.p{
	font-size: 22px;
}
.institute{
	
	font-size: 22px;

}
.learner{
		border: solid;
	border-radius: 1px;
	border-color: lightgray;
	padding: 10px 10px 10px 10px;

	background-color: #e3e3e3;
}
.certificate{
	
}

section#Howitworks{
	padding: 10px;
	border-bottom: solid;
	border-color: lightgray;
	border-radius: 1px;

}
.h2{
	font-size: 25px;
}
h5{
	font-size: 18px;
	text-align: center;
	color: #999696;
}
.c{
	

}
.c1,p{
	font-size: 20px;
}
section#courses{
	padding: 10px;
	border-bottom: solid;
	border-color: lightgray;
	border-radius: 1px;

}

section#gallery{
	padding: 10px;
	border-bottom: solid;
	border-color: lightgray;
	border-radius: 1px;

}

section#gallery img{
	position: center;
	height: auto;
	max-width: 100%;
	padding: 20px;
}
section#contact{
	padding: 10px;
	border-bottom: solid;
	border-color: lightgray;
	border-radius: 1px;

}
